.level {
    display: flex;
}
.postit {
    width: 400px;
    height: 150px;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: #27ae60;
}

#tree-container {
    align-items: center;
    background-image: url('../tree.png');
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: center;
}
